# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.sublime-project
*.sublime-workspace

*.julian
TI Tiva/
.metadata/
Thumbs.db
airmouse/
blinky/
gpio_jtag/
interrupts/
light_isl29023/
timers/
